body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  background-image: url();
}

.container {
  width: 100%;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100%;
  margin-bottom: -50px;
}
.col {
  width: 100%;
  display: flex;
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
.btn {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.col1 {
  background-color: white;
}
.row1 {
  display: flex;
  gap: 20px;
}
.dispnone {
  display: none;
}
